  .time{
    text-align: center;
    padding:1px;
  }
  .happy-button{
    padding:1px;
  }
  .button-container{
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
    align-items: center;
  }
  .post-container{
    background-color: #fff;
    border: 1px solid #000;
    padding: 1em;
    max-width: 400px;
    margin: 1em auto;
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    justify-content: left;
    box-shadow: 6px 6px 1px 1px rgb(5 5 5 / 90%);
  }
  
  .text-blogg{
    text-align: center;
    padding:1em;
    font-weight: bold;
  }
  textarea {
    border: 1px solid #000;
    padding-top: 1em;
    padding-left: 1em;
    margin: 0;
    min-width: 100%;
    min-height: 1em;
    align-content: center;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
  }
  .blogg-container{
    box-shadow: 1px 2px 2px 3px black;
    background-color: #e3e2e2;
    border: 1px solid #000;
    padding: 1em;
    max-width:400px;
    margin: 1em auto;
    display: flex;
    flex-direction: column;
    justify-content: left;
    border-radius: 20px;
  }
  
  a {
    text-decoration: none;
  }
  .blogg-container-lowerpart{
    padding: 1px;
    display: flex;
    flex-direction: column;
  }
  