.nav {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
   background-color:#333;
   color:white;
   }
   .horizontal-line {
    display:none;
    width: 100%;
    border-top: 1px solid #333;
    opacity: 0.5;
    padding:-1em;
  
  }
   .nav-links{
     text-align: center;
     width: 100%;
   }
   .title{
    font-size: 1em;
    margin: 0.75em;
    font-family: var(--ffR);
   }
   .nav a {
    color:white;
    text-decoration: none;
  }
   .nav-links ul{
     margin:0;
     padding:0;
     display:flex;
     flex-direction: column;
   }
   .nav-links li {
    padding: 0.5em;
    list-style: none;
    display: block;
    background-color: #333;
    overflow: hidden;
    box-sizing: border-box;
   }
   .nav-links li:hover{
     background-color:#345;
     border-radius: 30px;
   }
   .toggle-button{
   cursor: pointer;
       position: absolute;
       top: 1.5rem;
       right: 2rem;
       display: flex;
       flex-direction: column;
       justify-content: space-between;
       width: 30px;
       height: 25px;
   }
   .nav-links.close{
     height:10px;
     overflow:hidden;
   }
   .toggle-button .bar{
     height:3px;
     width:100%;
     background-color:white;
   }
   @media screen and (min-width: 1024px) {
    .toggle-button{
      display:none;
    }
   .title{
    font-size:1.5em;
   
   } 

    .nav{
      align-items: center;
    }
    .nav-links{
      padding:2em;
    }
    .nav-links ul {
      display: flex;
      width: 100%;
      justify-content: flex-end;
      flex-direction: row;
    }
    .nav-links li {
      margin: auto;
 }
 .horizontal-line {
  display:block;
}
.nav-links li {
  padding: 0px;
 }
}