* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* ------- Mobile SECTION  and main styling------- */
body {
 
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.backicon{
color:black;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.site-title{
  font-size: 2rem;
}
.header{
  text-align: center;
  color:white;
  background-color:#333;
}
video{
width: 100%;
height: 100%;
display:block;
}
.nav {
 display: flex;
 flex-direction: column;
 align-items:flex-start;
background-color:#333;
color:white;
}
.nav-links{
  padding:1em;
  text-align: center;
  width: 100%;
}
.title{
  font-size: 1em;
  margin:0.5em;
}
.nav-links ul{
  margin:0;
  padding:0;
  display:flex;
  flex-direction: column;
}
.nav-links li {
  z-index: 9;
  list-style: none;
  padding:1em;
  display:block;
  background-color:#333;
  overflow: hidden;
  box-sizing: border-box;
  transition: all .5s ease-in-out;
  
}
.nav-links li:hover{
  background-color:#345;
  border-radius: 30px;
}

.toggle-button{
  cursor: pointer;
  position: absolute;
  top:1.5rem;
  right:2rem;
  display:flex;
  flex-direction: column;
  justify-content:space-between;
  width: 30px;
  height:21px;
}
.toggle-button .bar{
  height:3px;
  width:100%;
  background-color:white;
}
.toggle-button a:hover
.toggle-button a:active{
  background-color: #fff;
  border-radius: 2px;
  color: #000;
  transition: all 0.5s ease-in-out;
}
.container {
  margin: 1rem;
  text-align: center;
}

.nav a {
  color: inherit;
  text-decoration: none;
  
}
.content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.4);
}
.footer{
  padding:1rem;
  font-size: 1rem;
  text-align: center;
  background-color:#333;
  color:white;
}
.upperinfo{
  justify-items: center;
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 1em;
  padding: 1em;
}
.lowerinfo{
  display: grid;
  grid-template-rows: 1fr;
  gap: 1em;
  padding: 1em;
  justify-content: space-evenly;
  text-align: center;
}
.infoName{

  font-weight: 500;
  margin: auto;
  padding: 1px;

}
.backLink{
  margin: auto;
  padding: 25px;
  display: inline-flex;
  align-items: center;
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.infoSite{
  padding:1em;
}.infoLevel{
  padding:1px;
}.infoLife{
  text-align: center;
  font-weight: bold;
  margin: auto;
  width: 200px;
}

textarea {
  border: 1px solid #000;
  padding-top: 1em;
  padding-left: 1em;
  margin: 0;
  min-width: 100%;
  /* max-width: 100%; */
  min-height: 1em;
  align-content: center;
  text-align: center;
}
.blogg-container{
  box-shadow: 1px 2px 2px 3px black;
  background-color: #e3e2e2;
  border: 1px solid #000;
  padding: 1em;
  max-width: 550px;
  margin: 1em auto;
  display: flex;
  flex-direction: column;
  justify-content: left;
  border-radius: 20px;
}
.blogg-container-lowerpart{
  padding: 1px;
  display: flex;
  flex-direction: column;

}
.happy-button{
  padding:1px;
}
.post-container{
  background-color: #fff;
  border: 1px solid #000;
  padding: 1em;
  max-width: 400px;
  margin: 1em auto;
  display: flex;
  flex-direction: column;
  border-radius: 1em;
  justify-content: left;
  box-shadow: 6px 6px 1px 1px rgb(5 5 5 / 90%);
}

.text-blogg{
  text-align: center;
  padding:1em;
}
.beer-container{
  padding:1em;
}
.time{
  text-align: center;
  padding:1px;
}
.text-left{
  text-align: center;
  padding:1em;
}
.slider {
  position: relative;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image {
  height:300px;
  border-radius: 10px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #fff;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #fff;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}
/* Tablets */

@media screen and (min-width: 768px) {
.toggle-button{
  display:none;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: row;
}
.nav-links ul {
  font-size: 14px;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  flex-direction: row;
}
.nav-links li{
font-size: 14px;
}
.images{
  width:300px;
}
.infoLife{
  padding: 2em;
}
}
/* BigScreen */

@media screen and (min-width: 1200px) {
  video{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    }
  .nav-links li {
       font-size: 16px;
  }
  .image {
    height: 50vh;
  border-radius: 10px;
}
.slider {
  position: relative;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
}