* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
--ffM: 'Montserrat', sans-serif;
--ffR: 'Roboto', sans-serif;
min-height: 100vh;
display:flex;
flex-direction: column;
font-size: 16px;
line-height: 1.6em;
}

/* ------- Mobile SECTION  and main styling------- */

.site-title{
  font-size: 2rem;
}
.header{
  text-align: center;
  color:white;
  background-color:#333;
}
.footer{
  padding:1rem;
  font-size: 1rem;
  text-align: center;
  background-color:#333;
  color:white;
  margin-top: auto;
}

video{
  border-radius: 100px;
width: 100%;
height: 100%;
display:block;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.upperinfo{
  justify-items: center;
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 1em;
  padding: 1em;
}
.lowerinfo{
  display: grid;
  grid-template-rows: 1fr;
  gap: 1em;
  padding: 1em;
  justify-content: space-evenly;
  text-align: center;
}
.backLink{
margin: auto;
display: inline-flex;
align-items: center;
font-style: italic;
font-weight: bold;
text-decoration: none;
color: #333;
}
.info{
  font-family: var(--ffR);
}
.infoSite{

font-family: var(--ffM);
text-align: center;

}.infoLife {
  padding:1em;
  
  font-family: var(--ffM);
}
.loading{
  margin: auto;
}

.main-container{  
  width:100%;
  padding:1em;
  display: flex;
  flex-direction: column;
  gap:1em;
  align-items: center;  
}
.inner-container{
  width: 80%;
  margin: auto;
}
.horizontal-line-info-details{
  width:40%;
  margin:auto;
}
.main-container-video{

  background: #333;
  padding: 6em 1em 6em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;

}
.more-links {
  justify-content: center;
  display: flex;
  padding: 1em;
  gap: 3em;
}
.links {
  height: 4em;

}
.icons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.footer-text{
  color:white;
}

/* Tablets */

@media screen and (min-width: 768px) {

  .backLink {
    padding: 1.5em;
}
}
/* BigScreen */

@media screen and (min-width: 1024px) {
  video{ 
    border-radius:0px;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    }
    .links {
      height: 5em;
    }
    .main-container-video{

      background: #333;
      padding: 0px;
    }
    .infoLife{
      padding:2em;
    }
    .backLink {
      padding: 2.5em;
  }
}